<!--<div class="filter-container">-->
<!--  <label for="minPopulation">Población mínima:</label>-->
<!--  <input-->
<!--    id="minPopulation"-->
<!--    type="number"-->
<!--    [(ngModel)]="minPopulation"-->
<!--    (input)="onMinPopulationChange()"-->
<!--    placeholder="Introduce un valor"-->
<!--  />-->
<!--</div>-->

<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Region</th>
      <th>Population</th>
    </tr>
    </thead>
    <tbody>
      @for (item of data; track item.name) {
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.population | number }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
