:host {
  display: block;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
}

.container {
  display: flex;
  height: 100%; /* Asegura que ocupe toda la altura */
}

app-menu {
  flex: 0 0 250px; /* Fija el ancho de la barra lateral */
}

.content {
  flex: 1; /* Ocupa todo el espacio restante */
  overflow-y: auto; /* Habilita el scroll si el contenido es muy alto */
  background-color: #f4f4f4; /* Color de fondo opcional para diferenciar */
  padding: 20px; /* Espaciado interno opcional */
}
