<div class="sidebar">
  <h3>Population Viewer</h3>
  <ul>
    <li (click)="selectOption('Global')"
        [class.active]="selectedOption === 'Global'"
        routerLink="/global"
        routerLinkActive="active">🌍 Global
    </li>
    @for (continent of dataService.getContinents(); track continent) {
      <li (click)="selectOption(continent)"
          [class.active]="selectedOption === continent"
          [routerLink]="['/continent',continent]"
          routerLinkActive="active">
        {{ continent }}
      </li>
    }
  </ul>
</div>
